 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #9c8ab4;
    padding: 20px;
    background-image: url("../img/inicio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#inicio {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(71, 0, 100, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

h3 {
    color:#fff;
    margin-top: 20px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #a487b4; 
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #6a4a87;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #4e3264; 
}