/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagen-ejercicio {
    width: 200px;
    height: 200px;
}

/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos para las tarjetas */
.card {
    width: 300px; /* Ancho fijo */
    height: 400px; /* Alto fijo */
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

/* Estilos para el título */
.card h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Estilos para el párrafo */
.card p {
    color: #666;
}

/* Estilos para los botones */
.card button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #0056b3;
}
